@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mate SC', serif;
}
.container{
    width: 90%;
    margin: auto;
}
h1{
    box-shadow:rgb(6, 48, 240) 0 13px 10px -8px;
}
h1:hover{
    letter-spacing: 10px;
    background-color:aliceblue;
}


.table-responsive{
    max-height: 450px;
    box-shadow: rgb(6,48,240) 0 25px 50px -15px;
}
tr:hover{
    background-color:rgb(235, 235, 235);
}
td,th{
    position: relative;
}

.table td,
.table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
    
}

td:hover::after,
th:hover::after{
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    top: -5000px;
    height: 5000px;
    width: 100%;
    z-index: -1;
}

.table tr td:hover:nth-child(5){
    background-color:rgb(255, 0, 0, 0.8);
    color: aliceblue;
    border: 2px solid black;
    font-weight: 800;
    letter-spacing: 0.5px;
    
}

.table tr td:hover{
    background-color: rgb(0, 255, 0, 0.7);
    color:black;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 800;
    letter-spacing: 0.5px;

   
}

.table-dark{
    font-weight: bold;
    text-transform: uppercase;
    background: black;
   
}
thead{
    position:sticky;
    top: 0 ;
    background: black;
}
h6{
    text-align: right;
    margin-right: 5px;
}

.active_class{
    color: rgb(153, 0, 0);
    border-bottom: 1px solid red;
    
}